<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>WHATSFEEL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="../../favicon.ico">
     <title>Consejos Depresion</title>
     <!-- Links booststrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- Solo con fines de depuración. ¡En realidad no copie estas 2 líneas! -->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- links css -->
    <link href="http://localhost:5000/css/consejos.css" rel="stylesheet">
  </head>
  
<!-- NAVBAR
================================================== -->
  <body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-brain'></i>
          <span class="logo_name">Whatsfeel</span>
        </div>
        <ul class="nav-links">
          <li>
            <a href="http://localhost:5000/ruta">
            <i class='bx bx-home-heart' ></i>
              <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="http://localhost:5000/ruta">Home</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-collection' ></i>
                <span class="link_name">Consejos</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Consejos</a></li>
              <li><a href="http://localhost:5000/ruta10">Ansiedad</a></li>
              <li><a href="http://localhost:5000/ruta12">Bipolaridad</a></li>
              <li><a href="http://localhost:5000/ruta11">Depresion</a></li>
            </ul>
          </li>
   
          <li>
            <a href="http://localhost:5000/ruta1">
                <i class='bx bx-brain'></i>
              <span class="link_name">Que es Whatsfeel</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="Somos-WHATSFEEL">Que es Whatsfeel</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bxs-user-account'></i>
                <span class="link_name">Cuenta</span>
              </a>
              <i class='bx bx-signal-4 arrow' ></i>
              
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Cuenta</a></li>
              <li><a href="http://localhost:5000/ruta9">Inicia Sesion</a></li>
              <li><a href="http://localhost:5000/ruta2">Registro</a></li>
              
            </ul>
          </li>
          
          <li>
        <div class="profile-details">
          <div class="profile-content">
          </div>
          <div class="name-job">
            <div class="profile_name">Manuel chupapenes</div>
            <div class="job">Web Desginer</div>
          </div>
          <i class='bx bx-log-out' ></i>
        </div>
      </li>
    </ul>
      </div>
      <section class="home-section">
            <div class="home-content">
                <i class='bx bx-menu' ></i>
                <p class="text">Ansiedad</p>
                
            </div>


          <div class="container marketing">


            <!-- START THE FEATURETTES -->
      
            <hr class="featurette-divider">
      
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">ENCIENDE <span class="text-muted">UNA VELA</span></h2>
                <p class="lead">Los aceites esenciales o prender una vela aromática pueden ayudar a reducir tu sensación de estrés o ansiedad.</p>
              </div>
              <div class="col-md-5">
                <br><img src="img/velas.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
            
            <hr class="featurette-divider">
      
      
            <!--Inicia segundo sector-->
      
            <div class="row featurette">
              <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">MASTICAR <span class="text-muted">GOMA DE MASCAR</span></h2>
                <p class="lead">Según varios estudios, masticar goma de mascar puede ayudarte a relajarte. También promueve el bienestar y reduce el estrés.</p>
              </div>
              <div class="col-md-5 col-md-pull-7">
                <br><img src="img/goma.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
      
          <!--Termina segundo sector-->
      
            <hr class="featurette-divider">
      
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">PASA TIEMPO CON <span class="text-muted">TUS AMIGOS Y FAMILIARES</span></h2>
                <p class="lead">El apoyo social de los amigos y la familia puede ayudarte a sobrellevar los momentos estresantes.
                  Ser parte de una red de amigos te da sensación de pertenencia y autoestima, lo que puede ayudarte en momentos difíciles.
                  </p>
              </div>
              <div class="col-md-5">
               <br><img src="img/friends.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
      
            <hr class="featurette-divider">
      
            <div class="row featurette">
              <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">APRENDE A EVITAR <span class="text-muted">LA PROCRASTINACIÓN</span></h2>
                <p class="lead">Otra forma de controlar tu estrés es tener control de tus prioridades y dejar de postergar las cosas.
                  La postergación puede ocasionar que actúes de manera reactiva, lo que te hará tambalear para lograr hacerlo todo. Esto puede ocasionar estrés, lo cual afecta negativamente tu salud y la calidad del sueño.
                  </p>
              </div>
              <div class="col-md-5 col-md-pull-7">
                <br><img src="img/time-and-calendar.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
      
            <hr class="featurette-divider">
      
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">ESCUCHA <span class="text-muted">MÚSICA RELAJANTE</span></h2>
                <p class="lead">Escuchar música puede tener un efecto muy relajante en el cuerpo.
                  La música instrumental lenta puede inducir una respuesta de relajación al ayudar a reducir la presión arterial y el ritmo cardíaco, al igual que las hormonas del estrés.
                  </p>
              </div>
              <div class="col-md-5">
               <br><img src="img/nota-musical.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
      
            <hr class="featurette-divider">
      
            <!-- /END THE FEATURETTES -->
      
      
            <!-- FOOTER -->
            <center>
              <strong>® Todos los derechos reservados</strong><br>
              Diseng By Whatsfeel<br>
              2022
        
            </center>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
       let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
       arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
      });</script>
    
  </body>
</html>
