<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>WHATSFEEL</title>
    <!--links boostrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="../../favicon.ico">
     <title>Consejos Depresion</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    
     <!-- revisar -->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <link href="http://localhost:5000/css/consejos.css" rel="stylesheet">
  </head>
  
<!-- NAVBAR
================================================== -->
  <body>
    <div class="sidebar close">
      <div class="logo-details">
          <i class='bx bx-brain'></i>
        <span class="logo_name">Whatsfeel</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="http://localhost:5000/ruta">
          <i class='bx bx-home-heart' ></i>
            <span class="link_name">Home</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="http://localhost:5000/ruta">Home</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-collection' ></i>
              <span class="link_name">Consejos</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Consejos</a></li>
            <li><a href="http://localhost:5000/ruta10">Ansiedad</a></li>
            <li><a href="http://localhost:5000/ruta12">Bipolaridad</a></li>
            <li><a href="http://localhost:5000/ruta11">Depresion</a></li>
          </ul>
        </li>
 
        <li>
          <a href="http://localhost:5000/ruta1">
              <i class='bx bx-brain'></i>
            <span class="link_name">Que es Whatsfeel</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="Somos-WHATSFEEL">Que es Whatsfeel</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bxs-user-account'></i>
              <span class="link_name">Cuenta</span>
            </a>
            <i class='bx bx-signal-4 arrow' ></i>
            
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Cuenta</a></li>
            <li><a href="http://localhost:5000/ruta9">Inicia Sesion</a></li>
            <li><a href="http://localhost:5000/ruta2">Registro</a></li>
            
          </ul>
        </li>
        
        <li>
      <div class="profile-details">
        <div class="profile-content">
          <!--<img src="image/profile.jpg" alt="profileImg">-->
          
        </div>
        <div class="name-job">
          <div class="profile_name">Manuel chupapenes</div>
          <div class="job">Web Desginer</div>
        </div>
        <i class='bx bx-log-out' ></i>
      </div>
    </li>
  </ul>
    </div>
    <section class="home-section">
          <div class="home-content">
              <i class='bx bx-menu' ></i>
              <p class="text">Depresión</p>
            
          </div>


          <div class="container marketing">


            <!-- START THE FEATURETTES -->
      
            <hr class="featurette-divider">
      
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">HAZ <span class="text-muted">EJERCICIO</span></h2>
                <p class="lead">Cuando el cuerpo empieza a realizar actividad física aumenta el nivel de endorfinas.
                  Escoge el tipo de ejercicio que prefieres practicar. Si no te gusta ir al gimnasio, puedes pasear o correr, este ejercicio te aportará muchos beneficios físicos y psíquicos, sin necesidad de gastar dinero. Además, te producirá una cierta sensación de libertad.
                  </p>
              </div>
              <div class="col-md-5">
                <br><img src="img/activo.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
            
            <hr class="featurette-divider">
      
      
            <!--Inicia segundo sector-->
      
            <div class="row featurette">
              <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">COMUNICA TUS EMOCIONES A <span class="text-muted">LAS PERSONAS QUE TE TRANSMITAN MÁS CONFIANZA</span></h2>
                <p class="lead">Expresar los sentimientos o pensamientos difíciles te sacarán un peso de encima y tu estado anímico mejorará notablemente. Las caricias y los abrazos a nuestros seres queridos pueden ayudarte también a aumentar tu bienestar.</p>
              </div>
              <div class="col-md-5 col-md-pull-7">
                <br><img src="img/campana-digital.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
      
          <!--Termina segundo sector-->
      
            <hr class="featurette-divider">
      
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">ESCRIBE EN UN <span class="text-muted">DIARIO O LIBRETA</span></h2>
                <p class="lead">Si no hay nadie cerca a quién puedas recorrer para "desahogarte" empieza a escribir, es una buena manera de liberar los pensamientos negativos. Expresa tus sentimientos y emociones escribiendo.</p>
              </div>
              <div class="col-md-5">
               <br><img src="img/orden-de-trabajo.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
      
            <hr class="featurette-divider">
      
            <div class="row featurette">
              <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">ADOPTA <span class="text-muted">UNA MASCOTA</span></h2>
                <p class="lead">Te puede ayudar a hacer que te sientas acompañado, enfocando toda la atención hacia ella. Los animales proporcionan amor incondicional, y pueden ser útiles en momentos de menos ánimo. Acariciar a tu perro o gato, te puede hacer sentir muy bien.</p>
              </div>
              <div class="col-md-5 col-md-pull-7">
                <br><img src="img/gatito.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
      
            <hr class="featurette-divider">
      
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">CULTIVA EL <span class="text-muted">SENTIDO DEL HUMOR</span></h2>
                <p class="lead">Ríe y sonríe, y si no encuentras ningún motivo para reír, apúntate a talleres de risoterapia: reír es, sin duda, uno de los factores que más incrementa nuestros niveles de endorfinas. La risa hace que tu ánimo aumente y tengas una perspectiva de la vida más sencilla, sin agobiarte por problemas o situaciones desagradables.</p>
              </div>
              <div class="col-md-5">
               <br><img src="img/risa.png"  alt="Generic placeholder image" width="80%" height="80%">
              </div>
            </div>
      
            <hr class="featurette-divider">
      
            <!-- /END THE FEATURETTES -->
      
      
            <!-- FOOTER -->
            <center>
              <strong>® Todos los derechos reservados</strong><br>
              Diseng By Whatsfeel<br>
              2022
        
            </center>
   

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
       let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
       arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
      });</script>
    
  </body>
</html>
