
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>WHATSFEEL</title>

    <!-- links booststrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- revisar -->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <link href="http://localhost:5000/css/index.css" rel="stylesheet">
  </head>

<!-- INICIO DEL NAVBAR-MENU
================================================== -->

  <body>
    <div class="sidebar close">
      <div class="logo-details">
          <i class='bx bx-brain'></i>
        <span class="logo_name">Whatsfeel</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="http://localhost:5000/ruta">
          <i class='bx bx-home-heart' ></i>
            <span class="link_name">Home</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="http://localhost:5000/ruta">Home</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-collection' ></i>
              <span class="link_name">Consejos</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Consejos</a></li>
            <li><a href="http://localhost:5000/ruta10">Ansiedad</a></li>
            <li><a href="http://localhost:5000/ruta12">Bipolaridad</a></li>
            <li><a href="http://localhost:5000/ruta11">Depresion</a></li>
          </ul>
        </li>
        <li>
          <a href="http://localhost:5000/ruta1">
              <i class='bx bx-brain'></i>
            <span class="link_name">Que es Whatsfeel</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="Somos-WHATSFEEL">Que es Whatsfeel</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bxs-user-account'></i>
              <span class="link_name">Cuenta</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>            
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Cuenta</a></li>
            <li><a href="http://localhost:5000/ruta9">Inicia Sesion</a></li>
            <li><a href="http://localhost:5000/ruta2">Registro</a></li>
            
          </ul>
        </li>
        
        <li>
      <div class="profile-details">
        <div class="profile-content">
        </div>
        <div class="name-job">
          <div class="profile_name"></div>
          <div class="job">Web Desginer</div>
        </div>
        <i class='bx bx-log-out' ></i>
      </div>
    </li>
  </ul>
    </div>
    <section class="home-section">
          <div class="home-content">
              <i class='bx bx-menu' ></i>
              <p class="text">Whatsfeel Web</p>
              
          </div> <!-- fin -->


    <!-- Inicio despegable Carousel
    ================================================== -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="img/Cfoto.jpg" alt="First slide">
          <div class="container">

            <div class="carousel-caption">
              <h1>SOMOS WHATSFEEL</h1>
              <p>La ayuda que necesitas</p>
              <p>Te brindaremos informacion y asesoria sobre los tipos de transtornos mas comunes</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="img/Cfoto1.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>ANSIEDAD</h1>
              <p>"No tienes que controlar tus pensamientos; solo tienes que dejar de permitirles que te controlen a ti"</p>
              <a href="http://localhost:5000/ruta3">
                <button>Test</button>
            </a>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="img/Cfoto2.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>DEPRESIÓN</h1>
              <p>Ser fuerte es levantarse de cada caída, limpiarse las heridas y seguir adelante.</p>
              <a href="http://localhost:5000/ruta4">
                <button>Test</button>
            </a>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fourth-slide" src="img/Cfoto3.webp" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>BIPOLARIDAD</h1>
              <p>El tiempo que se disfuta es el verdadero tiempo vivído.</p>
              <a href="http://localhost:5000/ruta5">
                <button>Test</button>
            </a></p>
            </div>
          </div>
        </div>


      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- Fin carousel -->


    <!-- seccion tests  -->
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="img/info1.png" alt="Marikon" width="140" height="140">
          <h2>Ansiedad</h2>
          <p align="justify">Sientes miedo, temor e inquietud. Puede hacer que sudes, te sientas inquieto o tenso, puedes tener palpitaciones y reacciones corporales inusuales; muchas veces esto se da por el estres."</p>
          <p><a href="http://localhost:5000/ruta6">
            <button>+Info</button>
        </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/info2.png" alt="Marikon" width="140" height="140">
          <h2>Depresión</h2>
          <p align="justify">Te sientes con bajo estado de ánimo, con sentimientos de tristeza y soledad que se pueden asociar al comportamiento fisico y psicologico de la persona. </p>
          <p><a href="http://localhost:5000/ruta8">
            <button>+Info</button>
        </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/info3.png" alt="Marikon" width="140" height="140">
          <h2>Bipolaridad</h2>
          <p align="justify">Sueles tener cambios en el comportamiento, en los niveles de energía y de actividad; Causando una afección del estado de ánimo que puede provocar cambios de ánimo intensos</p>
          <p><a href="http://localhost:5000/ruta7">
            <button>+Info</button>
        </a></p>
        </div>
      </div><!-- Fin tests-->

      <hr class="featurette-divider">

    
      <!-- FOOTER -->
      <center>
         <strong>® Todos los derechos reservados</strong><br>
         Diseng By Whatsfeel<br>
         2022
   
       </center>
   
    </div>


    <!-- Bootstrap links JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
       let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
       arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
      });</script>
    
  </body>
</html>
