<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Depresión</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href=http://localhost:5000/css/infoD.css>
</head>

<body class="tm-bg-dark">

    <!-- inicio secion main --> 
    <main class="tm-container masonry">
        
        <div class="item tm-bg-white tm-block tm-block-left" data-desktop-seq-no="1" data-mobile-seq-no="1">
            <p class="tm-hero-text">
                La depresión es un sentimiento de tristeza o una disminución del interés o del
                placer en las actividades que solían ser de agrado. Las cuales se convierten en un
                trastorno cuando es lo suficientemente intensa como para inferir en el
                funcionamiento normal de las personas. <br>

                La depresión no refleja debilidad de carácter, tampoco está necesariamente
                relacionada con un trastorno de la personalidad, un trauma infantil o una carencia
                en la atención de los padres. <br>
                La depresión puede iniciar en la adolescencia o entre los 20 y 30 años, pero
                también existe la posibilidad de que comience a cualquier edad, incluso en la
                etapa de la infancia. Si este trastorno no es tratado, un episodio de depresión
                podría durar alrededor de 6 meses, pero se podría prolongar durante 2 años o
                más.</p>
                <header class="tm-block-brand">
                    <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                        <i class="fas fa-braille fa-3x"></i>
                        <h1 class="tm-brand-name"> <b>DEPRESIÓN</b></h1>
                    </div>
                </header>
        </div>
        <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
            <img src="img/imagen6.jpg"  alt="Image"> <br><br>

            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
               
                <p> Las mujeres son mas propensas que los hombres a sufrir de depresión, pero las
                    razones no se conocen bien. Los factores hormonales son los factores biológicos
                    que parecen estar mas implicados en la aparición de esta.<br> La alteración de los
                    valores hormonales puede causar cambios de humor antes de la menstruación.
                    Algunas mujeres durante su embarazo o durante las 4 primeras semanas sufren
                    de depresión. Lo que se conoce como tristeza o melancolía puerperal (tristeza
                    después del parto) <br>
                    
                    Los síntomas de la depresión evolucionan habitualmente de forma gradual a lo
                    largo de los días o semanas. Una persona que se está deprimiendo puede
                    mostrarse aletargada(con falta de actividad, entumecimiento, etc.) triste, irritable y
                    ansiosa.
                </p>
                
            </div> <br> 
        </div>
        <div class="item" data-desktop-seq-no="6" data-mobile-seq-no="2">
            <img src="img/imagen2.jpg" width="5000" height="5000" alt="Image"> <br><br>

            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                
                <p> <b>TRASTORNO DEPRESIVO PERSISTENTE:</b> Las personas con este
                    trastorno pueden ser taciturnas y pesimistas, escépticas, y pueden haber
                    perdido el sentido del humor o la capacidad de divertirse. Algunas se
                    muestran pasivas, apáticas e introvertidas. Algunas de ellas se quejan
                    constantemente y son muy propensas a criticar a otros y a hacerse
                    reproches a sí mismas. Puede preocuparles su propia incompetencia, el
                    fracaso y los acontecimientos negativos, en ocasiones hasta el punto de
                    encontrar un goce morboso en sus propios fracasos.<br>
                </p>
                
            </div>
        </div>
        <div class="item tm-block-right" data-desktop-seq-no="7" data-mobile-seq-no="3">
            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                <header>
                    <h2 class="tm-text-uppercase">
                        Las posibles causas de la depresión son:
                    </h2>
                </header>
                <p> -Una tendencia familiar (hereditaria)<br>
                    - Acontecimientos que provocan alteraciones emocionales, en especial las
                    pérdidas de algún ser querido o mascotas<br>
                    - En el sexo femenino, posiblemente en relación con los cambios de niveles
                    hormonales<br>
                    - Efectos secundarios de fármacos
                </p>
                
            </div>
        </div>

        <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
            <img src="img/imagen4.jpg" alt="Image" class="tm-img-left"> <br>

            <div class="item tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad tm-block-left-2" data-desktop-seq-no="3"
            data-mobile-seq-no="5">
            <header>
                <h2 class="tm-text-uppercase">
                    Varios de los síntomas de este trastorno son:
                </h2>
            </header>
            <p> - Estado de animo irritable o bajo la mayoría del tiempo <br>
                - Dificultad para conciliar el sueño o exceso de sueño<br>
                - Cambio en el apetito, a menudo con aumento o pérdida de peso.<br>
                - Cansancio o falta de energía<br>
                - Sentimientos de inutilidad, odio a sí mismo y culpa.</p> 
            
        </div> <br> <br> <br>
        </div>
        <div class="item" data-desktop-seq-no="8" data-mobile-seq-no="6">
            <img src="img/imagen5.jpg" width="1200" height="1200" alt="Image"> <br><br>
        </div>

        <div class="item" data-desktop-seq-no="8" data-mobile-seq-no="6">


            <div class="tm-block-right-inner tm-bg-secondary  tm-text-white tm-block tm-block-wider tm-block-pad">
                <header>
                    <h2 class="tm-text-uppercase">
                        Este trastorno trae consigo otros más relacionados, los cuales son:
                    </h2>
                </header>
                <p> <b>TRASTORNO DEPRESIVO MAYOR:</b> Las personas con trastorno
                    depresivo mayor están deprimidas la mayoría de los días durante 2
                    semanas por lo menos. Suelen presentar un aspecto triste y abatido, tener
                    a menudo los ojos llenos de lágrimas, y mostrarse con el ceño fruncido y
                    las comisuras de los labios hacia abajo. Pueden mostrarse decaídos y
                    evitar el contacto visual. Apenas pueden moverse, muestran poca
                    expresividad facial y hablan en un tono monótono.<br>
                
                </p>
                <img src="img/imagen8.jpg"  width="1200" height="1200" alt="Image">
            </div> <br> 

            <div class="item" data-desktop-seq-no="6" data-mobile-seq-no="2">
                <img src="img/imagen9.jfif" width="5000" height="5000" alt="Image"> <br><br>
    
                <div class="tm-block-right-inner tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad">
                    
                    <p> <b>TRASTORNO DISFÓRICO PREMENSTRUAL:</b> Las mujeres con trastorno
                        disfórico premenstrual tienen cambios de humor y, de repente, se
                        entristecen y lloran. Se muestran irritables y se enojan fácilmente. Se
                        sienten muy deprimidas, desesperadas, ansiosas y nerviosas. Pueden
                        sentirse abrumadas o fuera de control. Suelen menospreciarse a sí mismas.
                        Al igual que ocurre en otros tipos de depresión, las afectadas por este
                        trastorno pueden perder interés en sus actividades habituales, tener
                        dificultad para concentrarse y sentirse cansadas y sin energía. Pueden
                        comer demasiado y tener antojo de determinados alimentos. Pueden dormir
                        demasiado poco o en exceso.<br>
                    </p>
                    
                </div>
            </div> 
       
    </main><br> <br>  <!-- /.fin container main -->





    <div align= "right">
        <center> Para más información visita <br>
        <b>Guía de consulta de los criterios diagnósticos del DSM-5™ </b><br> <br>
        Haz click en el siguiente icono: </center> <br><br>
        <a href="https://www.eafit.edu.co/ninos/reddelaspreguntas/Documents/dsm-v-guia-consulta-manual-diagnostico-estadistico-trastornos-mentales.pdf" ><center><img src="img/pdf.png" width="100" height="100" > </center></a><hr>
    </div>
    
    <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
        
        <div>
            <center><b><p class="tm-mb-small">Copyright & copy; 2022 Whatsfeel</p></center>
            <p><center>®Whatsfeel</b></center></p>
        </div>
    </div>
        

</body>

</html>