<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WHATSFEEL</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- https://fontawesome.com/ -->
    <link href="http://localhost:5000/css/infoB.css" rel="stylesheet">
</head>

<body class="tm-bg-dark">
    <main class="tm-container masonry">

    <!-- inicio secion main --> 
        <div class="item tm-bg-white tm-block tm-block-left  tm-text-white tm-block tm-block-wider tm-block-pad" data-desktop-seq-no="1" data-mobile-seq-no="1">
            <header>
                <h2 class="tm-text-uppercase">
                    Que es la bipolaridad:
                </h2>
            </header>
            <p class="tm-hero-text">
                El trastorno bipolar es una afección del estado de animo que puede provocar cambios de ánimo intensos,
                también provoca cambios en el comportamiento, niveles de energía y actividad, no podemos olvidar que
                esta enfermedad perdura toda la vida. <br>
                Una persona con bipolaridad en ocasiones puede sentirse extremadamente animado, eufórico, irritable o
                con energía; estos episodios se conocen como maniaco. Otras veces puede sentirse deprimido, triste,
                indiferente o desesperanzado; a este se le llama episodio depresivo. Por ultimo la persona puede tener
                síntomas maniacos y depresivos a la vez, también conocido como episodio mixto.
            </p>
            <header class="tm-block-brand">
                <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                    <i class="fas fa-braille fa-3x"></i>
                    <h1 class="tm-brand-name">BIPOLARIDAD</h1>
                </div>
            </header>
        </div>
        <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
            <img src="img/image-1.jpg" alt="Image" class="tm-img-left">

            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                <h2>¿Cuáles son los síntomas del trastorno bipolar?</h2>
                <p> Estos síntomas pueden variar dependiendo del nivel bipolar que tenga la persona, si tiene bipolaridad
                    l, bipolaridad ll o trastorno ciclotímico. <br>
                    síntomas de un episodio maníaco pueden incluir:<br>

                    • Sentirse muy optimista, eufórico o animado<br>
                    • Sentirse nervioso o acelerado, más activo de lo habitual<br>
                    • Tener muy mal genio o parecer extremadamente irritable<br>
                    • Sentir que los pensamientos van muy rápido, lo mismo al hablar<br>
                    • Dormir menos<br>
                    • Sentirse inusualmente importante, talentoso o poderoso<br>
                    • Hacer cosas arriesgadas que muestren falta de juicio, como comer y beber demasiado, gastar o
                    regalar mucho dinero o tener relaciones sexuales poco seguras<br>

                    síntomas de un episodio depresivo pueden incluir:<br>

                    • Sentirse muy triste, desesperanzado o inútil<br>
                    • Sentirse solo o aislarse de los demás<br>
                    • Hablar muy despacio, sentir que no tiene nada que decir u olvidar mucho<br>
                    • Tener poca energía<br>
                    • Dormir demasiado<br>
                    • Comer demasiado o muy poco<br>
                    • Falta de interés en sus actividades habituales y no poder hacer cosas simples<br>
                    • Pensar en la muerte o el suicidio<br>

                    • Un episodio mixto incluye síntomas maníacos y depresivos. Por ejemplo, puede sentirse muy triste,
                    vacío o desesperanzado, mientras que al mismo tiempo se siente extremadamente lleno de energía.
                </p>
            </div>
        </div>
        <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4" >
            <img src="img/image-2.jpg" width="1200" height="1200" alt="Image">
        </div>
        <div class="item tm-block-right" data-desktop-seq-no="2" data-mobile-seq-no="4">
            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                <header>
                    <h2 class="tm-text-uppercase">
                        Tipos de trastornos bipolares:
                    </h2>
                </header>
                <p> • El trastorno bipolar I incluye episodios maníacos que duran al menos 7 días o síntomas maníacos
                    (especie de locura, caracterizada por delirio general, agitación y tendencia al furor) tan graves
                    que necesita atención hospitalaria inmediata. Los episodios depresivos también son frecuentes.
                    Suelen durar al menos dos semanas. Este tipo de trastorno bipolar también puede implicar episodios
                    mixtos. <br>

                    • El trastorno bipolar II se define por episodios depresivos, pero en lugar de graves episodios
                    maníacos, se presentan episodios hipomaníacos (es período delimitado durante el cual hay un estado
                    de ánimo anormal y persistentemente elevado, expansivo o irritable que dura al menos 4 días). La
                    hipomanía es una versión menos grave de la manía. <br>

                    • El trastorno ciclotímico o ciclotimia también presenta síntomas hipomaníacos y depresivos, pero no
                    son tan intensos o duraderos como los episodios hipomaníacos o depresivos. Los síntomas suelen durar
                    al menos dos años en adultos y un año en niños y adolescentes.
                </p>
            </div>
        </div>

        <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
            <img src="img/image-4.jpg" alt="Image" class="tm-img-left">

            <div class="tm-block-right-inner tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad"
                data-desktop-seq-no="3" data-mobile-seq-no="5">
                <header>
                    <h2 class="tm-text-uppercase">
                        Como aprender a vivir con el trastorno bipolar:
                    </h2>
                </header>
                <p> • Obtenga tratamiento y sígalo: la recuperación lleva tiempo y no es fácil, pero el tratamiento es
                    la mejor manera de comenzar a sentirse mejor. <br>
                    • Acuda a las citas médicas y terapéuticas, y hable con su proveedor de atención médica sobre las
                    opciones de tratamiento.<br>
                    • Tome todos los medicamentos según las indicaciones.<br>
                    • Organice sus actividades: mantenga una rutina para comer y dormir, y asegúrese de dormir lo
                    suficiente y de hacer ejercicio.<br>
                    • Aprenda a reconocer sus cambios en el estado de ánimo.<br>
                    • Pida ayuda para seguir su tratamiento.<br>
                    • Sea paciente. Mejorar lleva tiempo. El apoyo social ayuda.<br>
            </div>
        </div>
        <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
            <img src="img/image-3.jpg" alt="Image">
        </div>
        <div class="tm-block-right-inner tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad">
            <h2 class="tm-text-uppercase">
                Causas:
            </h2>
            <p> • Diferencias biológicas. Las personas con trastorno bipolar tienen cambios físicos en el cerebro. La
                importancia de estos cambios aún es incierta, pero con el tiempo puede ayudar a identificar las causas.<br>
                • Genética. El trastorno bipolar es más frecuente en personas que tienen un familiar de primer grado
                (como hermanos o padres) con esta enfermedad. Los investigadores están buscando genes que puedan
                intervenir en el origen del trastorno bipolar.<br>
            </p>
        </div> <br><br>
    </main> <!-- /.fin container main -->

    <div align= "right">
        <center> Para más información visita <br>
        <b>Guía de consulta de los criterios diagnósticos del DSM-5™ </b><br> <br>
        Haz click en el siguiente icono: </center> <br><br>
        <a href="https://www.eafit.edu.co/ninos/reddelaspreguntas/Documents/dsm-v-guia-consulta-manual-diagnostico-estadistico-trastornos-mentales.pdf" ><center><img src="img/pdf.png" width="100" height="100" > </center></a><hr>
    </div>
    
    <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
        
        <div>
            <center><b><p class="tm-mb-small">Copyright & copy; 2022 Whatsfeel</p></center>
            <p><center>®Whatsfeel</b></center></p>
        </div>
    </div> 
</body>

</html>