<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ansiedad</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="http://localhost:5000/css/infoA.css">
</head>
<body class="tm-bg-dark">
    <main class="tm-container masonry">

        <!-- inicio secion main --> 
        <div class="item tm-bg-white tm-block tm-block-left" data-desktop-seq-no="1" data-mobile-seq-no="1">
            <p class="tm-hero-text">
                La ansiedad es un sentimiento de miedo, temor e inquietud y es normal si es ocasional, 
                sin embargo, las personas que les da esto frecuentemente tienen miedos, preocupaciones 
                intensas y persistentes sobre situaciones diarias; como las relaciones sociales, familiares, 
                el trabajo, la escuela, etc. En el caso de los niños este tipo de problemas se podría producir 
                en actividades con otros niños de su edad, no solamente en la interacción con los adultos. <br>

                La ansiedad aparte de ser un trastorno mental también es un mecanismo de defensa; es un sistema 
                de alerta ante situaciones que se consideran como “amenaza”. La función de ella es movilizar 
                al organismo, mantenerlo alerta y dispuesto para intervenir frente a los riesgos y amenazas. <br>
            </p>
                <header class="tm-block-brand">
                    <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                        <i class="fas fa-braille fa-3x"></i>
                        <h1 class="tm-brand-name">ANSIEDAD</h1>
                    </div>
                </header>
        </div>
        <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
            <img src="img/penesote.jpg" alt="Image" class="tm-img-left">

            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
               
                <p> Cuando padecemos de esta enfermedad, unos de los problemas que nos podría ocasionar 
                    son los siguientes: posiblemente tengas preocupación excesiva y persistente por la 
                    pérdida de algo o alguien, incluso por el miedo a sufrir un posible daño, una enfermedad, 
                    calamidades o la muerte.<br>
                    También te podría ocasionar pesadillas repetidas sobre algo que 
                    te esté afectando en esos momentos. Como también te podría afectar físicamente, al tener 
                    quejas de dolor persistentes en tu cuerpo (dolor de cabeza, dolor de estómago, náuseas, 
                    vómitos, mareos, etc.) <br> 
                    Estas situaciones podrían producir pánico, un ataque de pánico es la aparición súbita 
                    de miedo intenso que podría provocar palpitaciones, sudoración, temblores, sensación de ahogo, 
                    parestesias (sensación de entumecimiento o de hormigueo) etc. 
                    Cuando la ansiedad es persistente, dura al menos cuatro semanas en los niños, 
                    y seis meses o incluso más en los adultos. <br>
                </p>
                
            </div> <br><br>
        </div>
        <div class="item" data-desktop-seq-no="6" data-mobile-seq-no="2">
        </div>
        <div class="item tm-block-right" data-desktop-seq-no="7" data-mobile-seq-no="3">
            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                <header>
                    <h2 class="tm-text-uppercase">
                        Las posibles causas de la ansiedad son:
                    </h2>
                </header>
                    Las causas de los trastornos de ansiedad pueden ralacionarse con 
                    ciertas experiencias de vida, como acontecimientos traumáticos y estos 
                    pueden provocar los trastornos de ansiedad en personas que ya son propensas a ella. 
                    Los rasgos heredados también pueden ser un factor.<br> <br>
                    
                    <h2 class="tm-text-uppercase">
                        Algunos ejemplos de problemas médicos que pueden estar relacionados con la ansiedad incluyen los siguientes:
                    </h2>
                    
                -Enfermedad cardíaca.<br> 
                -Diabetes.<br>
                -Problemas de tiroides, como el hipertiroidismo.<br>
                -Trastornos respiratorios, como la enfermedad pulmonar obstructiva crónica (EPOC) o el asma.<br>
                -Uso inadecuado de sustancias o abstinencia.<br>
                -Abstinencia del alcohol, de medicamentos contra la ansiedad (benzodiazepinas) o de otros medicamentos.<br>
                -Dolor crónico o síndrome de intestino irritable.<br>
                -Tumores poco frecuentes que producen hormonas de reacción de “luchar o huir”.<br>
                -En ocasiones, la ansiedad puede ser un efecto secundario de algunos medicamentos.<br> 
            </div>
        </div>

        <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
            <img src="img/penesito.jpg" alt="Image" class="tm-img-left">

            <div class="item tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad tm-block-left-2" data-desktop-seq-no="3"
            data-mobile-seq-no="5">
            <header>
                <h2 class="tm-text-uppercase">
                    Los síntomas del trastorno de ansiedad pueden variar, algunos de ellos son:
                </h2>
            </header>
                - Preocupación por algo o alguien. <br>
                - Percibir situaciones amenazantes todo el tiempo. <br>
                - Temperamento indeciso. <br>
                - Miedo a tomar la decisión equivocada.<br>
                - Incapacidad para relajarse. <br>
                - Dificultar para concentrarse. <br> <br>

                <h2 class="tm-text-uppercase">
                    Tambien hay sintomas que pueden afectar fisicamente como:
                </h2>
                
                - Fatiga. <br>
                - Tensión muscular. <br>
                - Insomnio. <br>
                - Sudoración. <br>
                - Nauseas, diarrea. <br>
                - Irritabilidad. <br>
        </div>
        </div>
        <div class="item" data-desktop-seq-no="8" data-mobile-seq-no="6">
            <img src="img/image-03.jpg"  alt="Image">
        </div>
   
        <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
    </main>  <!-- /.fin container main -->
    
    <div><center> 
        Para más información visita<br>
        <b>Guía de consulta de los criterios diagnósticos del DSM-5™ </b><br><br>
       Haz click en el siguiente icono: </center><br>
        <a href="https://www.eafit.edu.co/ninos/reddelaspreguntas/Documents/dsm-v-guia-consulta-manual-diagnostico-estadistico-trastornos-mentales.pdf" ><center><img src="img/pdf.png" width="100" height="100" > </center></a>
    </div>

    <div>
        <div>
           <hr> <center><b><p class="tm-mb-small">Copyright & copy; 2022 Whatsfeel</p></center>
            <p><center>®Whatsfeel</b></center></p>
        </div>
    </div>

</html>