<!DOCTYPE html>
<html lang="en">
<head>
    <title>®Whatsfeel</title>
    <link rel="stylesheet" href="http://localhost:5000/css/inicio.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Whatsfeel</p>
           
        </div>
    </header>

    <section id="hero">
        <h1>Somos Whatsfeel la ayuda que necesitas</h1>
        <a href="http://localhost:5000/ruta2">
            <button>Registrarse</button>
        </a> 
        <hr>
        <hr>
        <a href="http://localhost:5000/ruta9">
            <button>Iniciar Sesión</button>
        </a>
        
    </section>
    
  
    

    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>Somos <span class="color-acento">Whatsfeel</span></h2>
                <p>Whatsfeel es un proyecto con el fin de dar asesoría en base a la salud mental y diversos temas como son la ansiedad, bipolaridad y depresión. En la cual habrá suficiente información acerca de estos temas, dejando en claro si podrías padecer algún trastorno mental. En esta página se puede visualizar y acceder a un test didáctico para que así puedas buscar ayuda profesional.</p>
            </div>
        </div>
    </section>
    <center>
    <form action="/GenerarReporte" method="GET" >
        <div class="center2">
        <button id="headerContain3"> GENERAR REPORTE </button>
        </div>
    </form>
    </center>




    <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
        
        <div>
            <center><b><p class="tm-mb-small">Copyright & copy; 2022 Whatsfeel</p></center>
            <p><center>®Whatsfeel</b></center></p>
        </div>
    </div>
</body>
</html>